@CHARSET "UTF-8";
@FONT-FACE {
	font-family: 'nanum';
	  font-style: normal;
	  font-weight: normal;
	  src: url('NanumGothic.eot'); 
	  src: local('☺'), url('NanumGothic.woff') format('woff');
}

@FONT-FACE {
	font-family: 'nanum';
	font-style: normal;
	font-weight: bold;
	src: url('NanumGothicBold.eot');     
	src: local('☺'), url('NanumGothicBold.woff') format('woff');
}

@FONT-FACE {
	font-family: 'nanum';
	font-style: normal;
	font-weight: bolder;
	src: url('NanumGothicExtraBold.eot');     
	src: local('☺'), url('NanumGothicExtraBold.woff') format('woff');
}