@CHARSET "UTF-8";
@IMPORT url("sh/shCore.css");
@IMPORT url("sh/shCoreDefault.css");

#wrap{width: 100%;}
#header, #header.index{
	background-color: #1E8CBE;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2EA2CC), to(#1E8CBE));
	background-image: -webkit-linear-gradient(top, #2EA2CC, #1E8CBE);
	background-image: -moz-linear-gradient(top, #2EA2CC, #1E8CBE);
	background-image: -o-linear-gradient(top, #2EA2CC, #1E8CBE);
	background-image: linear-gradient(to bottom, #2EA2CC, #1E8CBE);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2EA2CC', endColorstr='#1E8CBE')";
	color: white;
	text-shadow: 0 2px 2px #0074A2;
}
#header.index{padding:17px 0;height: 17em;}
#header {height: 4em;}

#hContent {width: 800px;color: white;padding: 0 10px;}
#topmenu {float: right;margin: 17px 0;}
#topmenu li{float: left;margin: 0 5px;}
#topmenu a{font-size: 12px;color: white;}
#topmenu a:hover{color: black;text-decoration: none;}

#container{clear: both;background: white;}
#cContent {width: 800px;padding: 20px 10px;}
#cContent p{font-size: 13px;margin: 5px;line-height: 1.7em;}
#cContent p a {font-size: 13px;color: blue;}
#cContent p b {color: black;}


#cContent .hTitle{ border-bottom: 1px solid #299BC7;padding-bottom: 4px;margin-bottom: 20px;}

#cContent .tblInputForm tr td {padding: 1px;}
#cContent .tblInputForm tr th {text-align: right;padding: 4px;}
#cContent .tblInputForm input {height: 15px;padding: 5px;width: 190px;}
#cContent .tblInputForm .text50{width: 88px;margin-right: 2px;}
#cContent .tblInputForm .text25{width: 54px;margin-right: 2px;}
#cContent .tblInputForm .button{width: 60px;height: 27px;font-weight: bold;border: 1px solid #CCCCCC; background-color: #414141; color: white;cursor: pointer;}
#cContent .tblInputForm .button100{width: 101px;height: 27px;font-weight: bold;border: 1px solid #CCCCCC; background-color: #3A3A3A; color: white;cursor: pointer;margin-right: 1px;}
#cContent .tblInputForm select{padding: 4px 5px;width: 65px;font-weight: bold;}


#footer{height: 80px; padding-top: 1em; background: #F5F5F5; border-top: 1px solid #E5E5E5;clear: both;}
#footlink{width: 600px;}
#footlink li {float: left;margin: 10px;}
#footlink a{text-decoration: none;color:#036 }
#footlink a:hover{color: black;font-weight: bold;text-decoration: underline;}


/* wiki css*/
.wikiContent .topList {padding: 20px;}
.wikiContent .topList li{ list-style-type: disc;margin: 5px;}
.wikiContent .topList li a {font-weight: bold;font-size: 13px;color:#6A92C4; }
.wikiContent .topList li a:HOVER {font-weight: bold;font-size: 13px;color:black;text-decoration: underline; }
.wikiContent h1, .wikiContent h2, .wikiContent h3, .wikiContent h4, .wikiContent h5, .wikiContent h6 {
	margin: 15px 0 5px 5px;
}
.wikiContent p{padding: 0 0 0 20px; }




#main_title {float: left;color: white;}
#main_title_logo {font-size: 36px;font-weight: bold;line-height: 1em;}
#main_title_desc {padding: 0 1px;color: white;}

#main_menu {float: right;}
#main_menu li{float: left;margin: 0px 5px;}
#main_menu a {color: white;}
#main_menu a:hover{text-decoration: none;color: black;}
#main_desc {padding: 50px 0;clear: both;}
#main_desc a {color: white;font-size: 29px;font-weight: bold;}
#main_desc a:hover {font-weight: bold;color: black;text-decoration: none;}

#sub_title{float: left;padding: 6px 0; cursor: pointer;}
#sub_title a {text-decoration: none;font-size: 28px;font-weight: bold;color: white;}
#sub_title a:HOVER{color: black;} 

