@CHARSET "UTF-8";
@IMPORT url("sh/shCore.css");
@IMPORT url("sh/shCoreDefault.css");

#wrap{min-width: 880px;}
#header {height: 5em;background-color: #2798C6;}

#footer{background: #F5F5F5; border-top: 1px solid #E5E5E5;}

.hContent, .cContent{width:950px;margin:0 auto;}



#logo {float: left;margin: 10px 0;cursor: pointer;}
#logo p{color: white;line-height: 1em;}
#logo #logodesc{font-size: 11px;}
#logo #solname{font-size: 31px;font-weight: bold;}
#topmenu {float: right;margin: 23px 0;}
#topmenu li{float: left;margin: 0 5px;}
#topmenu a{font-size: 12px;color: white;}
#topmenu a:hover{color: black;text-decoration: none;}


.cContent {padding: 20px 5px;}
.cContent p{font-size: 13px;margin: 5px;line-height: 1.7em;}
.cContent p a {font-size: 13px;color: blue;}
.cContent p b {color: black;}
.cContent .hTitle{ border-bottom: 1px solid #299BC7;padding-bottom: 4px;margin-bottom: 20px;}
.cContent .tblInputForm tr td {padding: 1px;}
.cContent .tblInputForm tr th {text-align: right;padding: 4px;}
.cContent .tblInputForm input {height: 15px;padding: 5px;width: 190px;}
.cContent .tblInputForm .text50{width: 88px;margin-right: 2px;}
.cContent .tblInputForm .text25{width: 54px;margin-right: 2px;}
.cContent .tblInputForm .button{width: 60px;height: 27px;font-weight: bold;border: 1px solid #CCCCCC; background-color: #414141; color: white;cursor: pointer;}
.cContent .tblInputForm .button100{width: 101px;height: 27px;font-weight: bold;border: 1px solid #CCCCCC; background-color: #3A3A3A; color: white;cursor: pointer;margin-right: 1px;}
.cContent .tblInputForm select{padding: 4px 5px;width: 65px;font-weight: bold;}


.fContent{margin:0 auto;width: 600px;height: 35px;}
#footlink li {float: left;margin: 10px;}
#footlink a{text-decoration: none;color:black;}
#footlink a:hover{color: black;font-weight: bold;text-decoration: underline;}


/* wiki css*/
.wikiContent .topList {padding: 20px;}
.wikiContent .topList li{ list-style-type: disc;margin: 5px;}
.wikiContent .topList li a {font-weight: bold;font-size: 13px;color:#6A92C4; }
.wikiContent .topList li a:HOVER {font-weight: bold;font-size: 13px;color:black;text-decoration: underline; }
.wikiContent h1, .wikiContent h2, .wikiContent h3, .wikiContent h4, .wikiContent h5, .wikiContent h6 {
	margin: 15px 0 5px 5px;
}
.wikiContent p{padding: 0 0 0 20px; }

#main_desc {padding: 60px 0;background-color: #2798C6;}
#main_desc a {color: white;font-size: 31px;font-weight: bolder;}
#main_desc a:hover {font-weight: bold;color: black;text-decoration: none;}